.app {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.container {
  margin: 10px 2rem;
}
.calculator-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.telecom #insurance-last,
.telecom #travel-last,
.telecom #health-last,
.telecom #education-last,
.telecom #finance-last,
.travel #insurance-last,
.travel #telecom-last,
.travel #health-last,
.travel #education-last,
.travel #finance-last,
.health #insurance-last,
.health #travel-last,
.health #telecom-last,
.health #education-last,
.health #finance-last,
.insurance #telecom-last,
.insurance #travel-last,
.insurance #health-last,
.insurance #education-last,
.insurance #finance-last,
.education #insurance-last,
.education #travel-last,
.education #health-last,
.education #telecom-last,
.education #finance-last,
.finance #insurance-last,
.finance #travel-last,
.finance #health-last,
.finance #education-last,
.finance #telecom-last {
  display: none;
}

nav {
  background-color: rgb(67, 14, 116);
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}
nav h1 {
  letter-spacing: 0.3rem;
  font-size: 2rem;
  font-weight: 700;
}
nav ul li {
  font-size: large;
  font-weight: 700;
  display: inline-block;
  color: white;
  cursor: pointer;
  padding: 0.6rem 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li:hover {
  transform: scale(1.3);
}
h1 {
  text-align: center;
}

.output-container {
  text-align: left;
  margin: 1rem 3rem;
  max-width: 900px;
}
.output {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
